/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

/* Utility Classes */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}


/* Header */
header {
  padding: 20px;
  background: #333; 
}

header>h1 {
  text-align: center;
  font-weight: bold; 
  font-size: 45px; 
  font-family: Roboto Mono, 'Times New Roman', Times, serif;
  color: #fff; 
}

/* Results */
.winning-container {
  font-size: 25px;
  color: #333; 
}
.winning-container>p {
  text-align: center; 
  padding: 20px;  
}

/* RESET BUTTON  */
.controls {
  margin: 20px auto;
  position: relative;
  text-align: center;
}

.controls > button {
  border-radius: 20px;
  font-weight: bold; 
  font-size: 125%;
  padding: 15px 13px;
  border: 3px solid #333; 
}

.controls > button:hover {
  cursor: pointer; 
  background: #333; 
  color: #fff; 
}

/* GAME CONTAINER */
.game-container{
  display: flex; 
  justify-content: center;
}



.border-box {
  border: 2px solid black; 
  height: 200px; 
  width: 200px; 
  text-align: center; 
  margin: 0 auto; 

}
.col {
  /* flex: 1; */
  flex-direction: row; 
  justify-content: center; 

}

.col > .box {
  font-family: Permanent Marker, 'Times New Roman', Times, serif; 
  font-size: 90px; 
  padding: 25px; 
  /* width: 100%;  */
}

.border-box:hover {
 cursor: pointer;
 box-shadow: inset 0 0 20px #333; 
}


/* Additional Classes */
.blue-container {
  background: blue; 
}

.red-container {
  background: red; 
}